body { /* Esto es  para modificar todo el cuerpo de la pagina */    

    margin: 0 auto; /* Esto nos quita el margen que por defecto trae el body*/
    padding: 16px; /* Esto le da un espacio a todo lo que esta dentro del body y el borde de arriba de la pantalla*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; /*Esto es el estilo de la letra que usaremos en nuestro Menu, "system-ui" esto significa que se use la fuente de interfaz predeterminada del sistema operativo   "UI" significa User Interface */
    background: linear-gradient(to bottom, #f8f9fa, #ffffff); /*Esto nos da un degradado de dos colores "to bottom" o sea de arriba a abajo*/
    color: #2c2c2c; /*Esto nos define el color de las letras de nuestro Menu */

    display: flex; /*Esto lo que hace es darle orden a toda mi pagina, como juguetes bien ordenaditos uno depues de el otro, tambien me permite usar otros estilos como el de abajo de este*/
    justify-content: center;/*justify-content: center; /*Esto nos centra todo el contenido de el body (cabe recordar que sin display: flex; este estilo no funcionaria) */ 
    
}

/* Estilos para modo oscuro (MO)*/
body.modo-oscuro {  /* Esto quiere decir: al body, cuando este en modo oscur o cuando el tipo de clase sea de modo oscucuro aplicale los cambios */
    background: #111827; /*Esto nos define el color de fondo en el modo oscuro */
    color: #f9fafb; /*Esto nos define el color de la letra para el modo oscuro */
}

body.modo-oscuro li {   
    border-bottom-color: #374151; /*Esto nos cambia de color de la linea que se encuentra debajo de los li (de los productos y precios)*/
}

body.modo-oscuro hr {
    border-top-color: #374151; /* Esto nos modifica el color de el hr en el modo oscuro para los hr se suele usar border-top */
}

/* Botón “modo oscuro” */
.boton-modo { /* Agrega estilos a la clase boton-modo */
    display: inline-block; /* Esto sirve para que nuestro boton, se comporte como un boton de verdad en la pagina, que pueda ir en la misma linea con otros elemntos, pero que al mismo tiempo tenga, tamaño y forma gracias al padding */
    margin-top: 12px; /* Esto le da un espacio de 12px con lo que este arriba de el boton */
    padding: 6px 14px; /* Esto le da espacio interno al boton 6px de arriba hacia abajo y 14px de izquierda a derecha, hace que nuestro boton se vea mas grande por dentro */
    border-radius: 999px; /* Esto es para darle borde a nuestro boton arto , queda como una pastilla (pill) */
    border: none; /* Quita el borde que le ponene los navegadores a los botones por defecto*/
    background: hsl(36, 100%, 50%); /* Nos define el color de fondo usando hsl que significa  h(Hue/ tono) esto nos da el color base, se maneja un rango de 0 a 360 an grados en este caso 36 que es naranja, s(Saturation / saturacion) nos maneja que tan vivo o apagado esta el color, 0% es totalmente gris y 100% es el color al maximo, en este caso lo usaremos al maximo por ultimo l (Lightness / luminosidad) aqui el 50% es el punto medio para el color "puro", 0% es negro y 100% es blaco*/
    color: #fff; /*Esto nos da el color de la fuente de la letra de el boton */
    font-size: 0.9rem; /* Esto le da el tamaño a la letra de nuestro boton */
    cursor: pointer; /*Esto es para que cuado se le pase el cursor por encima muestre una mano */
    box-shadow: 0 2px  6px rgba(0,0,0,0.2); /*Esto le da la sombra al boton la linea se desglosa de la siguiente manera: "0" = Offset-X(Desplazamiento en X) Define desplazamiento Horizontal, Este valor nos posiciona la sombra en el centro, numeros positivos la mueven a la derecha y los negativos a la izquierda, "2px" = Offset-Y Define desplazamiento Vertical, Este valor nos posiciona la sombra un poco abajo de el boton, como si se estuviera elevando, numeros negativos la suben y numeros positivos la bajan, 6px = Blur-Radius (Radio de desenfoque de la sombra) 6px nos da un efecto suave, entre mas alto el numero mas borrosa se vera la sombra, o sea al momento de aumentar el numero la sombra se nos etirara mas es decir, se nos alarga mas a las lados y de arriba hacia abajo y los bordes se ponene mas suaves, Color(rgba(0,0,0,0.2)) R=0, G=0, B=0, alpha=20% opacidad, para un efecto natural y sutil, el alpha nos permite trasparencia, evitando sombras opacas.*/
    transition: transform 0.15s ease, box-shadow 0.15s ease, background 0.2s; /* Todo esto nos sirve para el momento en que se va a usar el hover, el  "transform 0.15s ease" se desglosa de la siguiente manera, transform: es para hacerlo mas grande o mas pequeño o rotarlo, 0.15s: para que tarde un poco antes de que suceda el transform y ease: Es para que se empiece lento acelera en medio  y termine lento, ahora vamos con el "box-shadow 0.15s ease" es para cualquier cambio que se le haga a ala sombra con 0.15s de retraso mas el ease, y por ultimo:background 0.2s Este es para modificar cualquier cambio de color de el boton con un poco mas de retraso (0.20s)*/
}

.boton-modo:hover { /* Esto node define que pasa con el hover(o sea caundo pasamos el maus encima de cualquier etiqueta html), de el boton con la clase boton-modo */
    transform: translateY(-1px); /* Esto lo que hace es que el boton se nos va a mover un poco hacia arriba (1px) usando las reglas que ya definimos antes para suavisar el movimiento */
    box-shadow: 0 3px 8px rgba(0,0,0,0.25); /*Esta linea se usa para modificar la sombra se desglosa de la siguiente manera: "0" sin movimiento horizontal, "3px" sombra 3 pixeles mas abajo de lo normal, "8px" Esto nos la pone mas borrosa(mas grande la sombra), y el rgba(0,0,0,0.25) es el mimsmo color negro pero mas intenso (0.25 o al 25%) */
}

.page { /*Esto es para modificar toda la pagina en general*/
    max-width: 580px; /*Esto nos da el maximo tamaño que pueda tener la pagina para que se vea bien en pantallas pequeñas y que no se vea muy grande en pantallas grandes */
    width: 100%; /*Esto es para que ocupe toda la pantalla en pantallas pequeñas, como las de los celulares*/
    padding-bottom: 32px; /* Esto nos separa 32px el ultimo elemento de el menu con el borde de abajo final de el .page*/
}

h1 {  /* Esto es para Titulos en este caso es para el titulo de la marca "REYPAS" */
    text-align: center; /* Esto nos alinia el texto al centro de todas nuestra etiqueta h1 */
    letter-spacing: 2px; /* Esto nos separa un poco las letras de nuestra etiqueta h1, ya que es una marca, se separa para que se vea mas de marca */
    margin: 0 0 8px 0; /* esto es para los espacios que se le da a la etiqueta con respecto a los otros elemntos a su alrededor, estos de desglosan de la siguiente manera con orden fijo: arriba de el h1, derecha de el h1, abajo de el h1, izquierda de el h1, en este caso solo se le da un epacio entre el h1 y la etiqueta que se encuentra abajo de 8px*/

    color: white !important; /* Esto nos define el color de la etiqueta a blanco y el "important" nos fuerza a usar el color blanco po encima de cualquier otra regla css que le cambie el color al h1 */
    text-shadow: 2px 2px 4px rgba(0, 0,0,0.3); /* Esto nos da sombra a nuesto h1, la linea de desglosa de la siguiente manera, 2px hacia la derecha, 2px hacia abajp, 4px mas borrosa (osea la sombra de nos estira 4px hacia todos los lados) y el color rgba que es un negro con una opacidad de 30% */
    
    font-size: 2rem; /* Esto nos ayuda a modificar el tamaño de la letra en este caso 2rem (16px*2) */
    letter-spacing: 3px;/* Esto nos da un espacio de 3px de separacion entre cada letra */

}

p { /* Esto es para parrafos */
    margin-top: 4px; /* Estas dos etiquetas me dan espacio 4px entre la etiqueta p y la que este arriba y 12px entre la misma etiqueta p y la etiquta que se encuentre en la parte de abajo. */
    margin-bottom: 12px; 
}

h2 { /* Esto para subtitulos casi siempre */
    margin-top: 24px; /* Lo mismo que la etiqueta p pero con valores diferentes */
    margin-bottom: 8px; /* Lo mismo que la etiqueta p pero con valores diferentes */
    border-bottom: 2px solid hsl(36, 100%, 50%); /* Esto lo que hace es crearnos una linea debajo de todos los h2, de un grosor de 2px y de tipo solid(linea sin espacios, linea recta) con el mismo color de el header */
    padding-bottom: 4px; /* Espacio de 4px entre la linea que creamos y la etiqueta h2, cabe recalcar que el padding solo se usa para separar elementos de una misma etiqueta, a diferencia de el margin que nos separa 2 etiquetas diferentes */
    font-size: 1.5rem; /* Esto nos da el tamaño de la letra un poco mas pequeña que el h1 */
    letter-spacing: 1px; /* Esto nos da un espacio entre cada letra de 1px */
}

ul { /* Esto que crea una lista */
    list-style-type: disc; /* Esto quita las biñetas(puntos) de nuestras listas */
    padding-left: 0; /* Esto le quita el espacio que por defecto se encuentra a la izquierda de cada biñeta */
    margin: 0; /* Esto quita los margenes extras que hallan arriba y abajo de la lista */
}

li { /* Esto es cada biñeta de la lista */

    padding: 8px 0; /* Agrega espacio arriba y abajo de cada biñeta y nada de espacio a la derecha y a la izquierda de cada biñeta */

    display: block; /* Esta etiqueta nos acomoda en fila (horizontalmete) y pegados los elementos que se encuantran en el li, y los prepara para poder cepararlos o centraslos con otro estilo (el de abajo), sin esto no se podria modificar nada de eso */
    justify-content: space-between; /* Esto nos pega nuestro primer elemento a la izquierda y el ultimo a la derecha y deja todo un espacio vacio entre los dos, sin este estilo estarian todos pegado a la izquierda */
    align-items: center; /* Esto nos aline */

    font-size: 1rem; /* Esto nos da el tamaño de la letra */
    line-height: 1.5; /* Esto lo que hace es que nos dice cuanto se separa una linea de otra linea, el 1.5 lo que hace esque al tamaño que le dimos a nuestra letra que en este caso es 1rem(16px), lo multiplicamos 1.5 veces entonces el espacio total de la linea seria de 24px, los 8px que sobran son los que se reparten 4px abajo y 4px arriba, para separar cada linea */

    border-bottom: 1px solid #ddd; /* Esto nos crea una linea debajo de cada etiqeuta li, de 1px de grosor solid(o sea linea seguida no punteada) y el color que es este caso es blanco*/

    color: #444; /* Aqui se establece el color de la letra de cada li*/

    position: relative;
    
}

li:hover { /*Estilos para cuando se le pase el maus encima de el li */
    background: hsl(36, 100%, 95%); /*Esto nos da un color blanco diferente un poco diferente al de la pagina */
    border-left: 4px solid hsl(36, 100%, 50%); /* Esto nos da una linea en la parte izquierda de el li de 4px de grosor linea seguida no puntiada y del mismo color que el fondo de el header*/
    transition: all 0.2s ease; /* Esto lo que hace esque a todo lo que este en este style, le de un retrado de 0.2s en vez de que sea de golpe cualuqier tipo de efecto que se le aplique, mas el ease: que hace que la animacion empiece suave acelere en el medio y termine suave */
}

hr { /* Esto es para modificar la linea que creamos */
    border: none; /*Esto elimina el estilo que por defecto tiene el hr*/
    border-top: 1px solid #333; /*Esto nos crea la linea simple de color gris oscuro*/
    margin: 16px 0; /*Esto nos da espacio de 16px arriba y abajo de la linea */
}

.contacto { /* Esto nos modifica toda la seccion de contacto */
    margin-top: 16px; /* Esto nos da un margen de 16px entre la etiqueta contacto y la que este arriba */
    font-size: 0.95rem; /* Esto hace que el texto se vea un poco mas pequeño que el normal para que paresca como lo ultimo de la pagina */
    margin-bottom: 16px; /* Esto le da un espacio de 16px entre esta etiqueta y el final de la pagina */
}

header { /* Esto nos da estilos a toda la parte de el header de nuestro menu */
    background: linear-gradient(135deg, hsl(36, 100%, 50%), hsl(36, 80%, 60%)); /* Bueno esta linea nos modifica el fondo de nuestro header con un linear-gradient (degradado lineal) con una direccion de 135deg (135 grados), o sea va en diagonal de derecha hacia abajo segun las siguientes reglas: 0deg = hacia arriba,90deg = hacia la derecha,180deg = hacia abajo y 270deg = hacia la izquierda (el 360 no se cuenta porque es el mismo que 0), teniendo en cuenta esto cada grado intermedio entre estos numeros se tomara segun los numeros en que se encuentre, en sentido anti horario = ↑←, para este caso el 135deg se encuentra entre 90 y 180 segun sentido antihorario osea 90 que es derecha y 180 que es abajo, pues significa  de la derecha hacia abajo o en otra palabras diagonal de derecha hacia abajo, luego de esto siguigue el primer color por el que va a empezar el degradado que es de tipo HLS = tono,saturacion,luminosidad, 36 = naranja, 100% = lo mas vivo que da el color, 50% = brillo medio o sea naranja intenso, y el segundo color un naranja mas claro y menos intenso */
    padding: 20%; /* Esto me agrega un 20% de espacio al tamaño de el header, dandonos mas espacio y que se vea mas llena la caja de el header, el tamaño de el header lo establece el logo el p1 y el boton ese 20% impide que el header se nos pegue en los bordes */  
    border-radius: 12px; /* Esto nos redondea las esquinas de nuestro header 12px*/
    margin-bottom: 20px; /* Esto nos da un espacio de 12px entre el header y lo que se encuentre en la parte de abajo de el */
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* Esto nos da sombra al header, "0" centrado horizontalmente, "4px" hacia abajo , "12px" que la sombra se estira hacia todos los lados o se pone mas borrosa, y el color negro con un 10% de opacidad (o sea solo el 10% de el color)*/

    display: flex; /* Esto nos permite poder centrar nuestro contenido de el header, nos establece el contenido a flexbox transdormando los elementos internos en flex itemns, permitinedo mas funciones */
    flex-direction: column; /* El diplay: flex; nos acomoda por defecto el contenido de el header horizontalmente (uno despúes de el otro hacia la derecha), esta etiqueta lo que hace es que nos acomoda el contenido verticalmete, o sea uno debajo de el otro*/
    align-items: center; /* Esto lo que hace esque nos centra horizontalmente todos los elementos adentro de el header */
    justify-content: center; /*Esto lo qeu hace esque nos centra todos los elementos de el header verticalmente*/
    gap: 5px; /*Esto lo que hace esque nos pone 5px de espacio entre cada elemnto de el header (logo,h1,p,bottom) */
    text-align: center; /* centra el texto dentro de sus elemntos (h1, p), sin el el texto se veria desorganizado */ 
}

header p {
    max-width: 420px;     /* limita ancho para que el "p" no pase mas de 420px para pantallas de mas de 420px */
    margin-top: 0;        /* Esto nos elimina completamente el margen superior de el elemento */
    margin-bottom: 16px;  /* Esto nos da un espacio de 16px entre el "p" y el elemento de abajo */   
}

/* Cambios Nombres y Precios de Productos */
.item-nombre { 
    font-weight: 400; /* Esto me modifica el peso (intensidad) de la letra o sea la hace mas oscura o de tipo negrita o mas delgada en este caso el 400 es el Texto de peso normal. */
    display: flex; /* Esto nos permite usar todo tipo de flex */
    align-items: center; /* Esto nos centra nuestro item */
    gap: 8px; /* Esto nos da un espacio de 8px con respecto a los elementos dentro de el contenedor */
}

.item-precio { 
    font-weight: 600; /* Esto me le da un poco mas de peso a la letra por ser los precios */
    color: hsl(36, 100%, 40%); /* eso nos da el color de la etiqueta item-precio, con el formato hsl: 36:naranja, 100%:el color puro, 40% con un 40 de brilo (entre mas porcentaje mas se se acercara al color blanco y viceversa con el color negro )*/
}


.arepa-power { /* Esto nos da estilo a la parte dinde dice POWER en las arepas */
    display: inline-flex; /* Esto nos crea una cajita que nos mantiene la palabra enseguida de la otra, a diferencia de display: flex; que lo que hace es que nos acomoda el POWER debajo de Arepa , y tambien nos permite poder usar todas sus fuciones Flexbox (como el que le sigue a esta linea) sin esta linea estas funciones no servirian */
    align-items: center; /* Esto nos centra en bien nuestra etiqueta verticalemte detro de nuestra cajita invisible */
    gap: 4px; /* Esto lo que hace esque me da un espacio entre todos los hijos de la caja flex osea entre el emoji el el POWER */
    color: hsl(36, 100%, 40%); /* Color Dorado/naranja, no rojo puro */
    font-weight: 700; /* Peso de la fuente en este caso esta en negrita*/
    font-size: 0.85rem; /* Tamaño de la fuente un poco mas pequeña que la letra normal de los li */
    text-transform: uppercase; /* Esto nos convierte todo el texto en mayuscula */
    letter-spacing: 0.05em; /* Esto nos separa las letras entre si por un pequeño espacio (5% de el tamaño de la fuente )*/
}


/* Cambios de Contacto y WhatsApp */

.wap-link { /* Esta es nuestra clase de el link hacia nuestro numero de whatssap */
    color: hsl(36, 100%, 50%); /* Este es color naranja de siempre un poco mas iluminado */
    font-weight: 700; /* Esto nos da un poco mas de peso a el contenedor con la clase , en este caso nos dio el tono exacto de la negrita (o sea que esta clase esta en negrita ) */
    text-decoration: none; /* Esto nos quita el subrayado azul que por defecto ponene los navegadores a los links, en este caso es amarillo por el color de las letras */
}

.wap-link:hover { 
    text-decoration: underline; /* Esto nos agrega la misma linea que quitamos antes, pero solo al momento de pasar el maus encima de el link */
}

.contacto p:last-child { /* Esto nos estiliza solo el ultimo <p> de le contenedor con la clase .contacto en nuestro caso donde se encuentra el numero de contacto. */
    font-size: 1.1rem; /* Esto nos ajusta el tamaño de la letra un poco mas grande (un 10%) a diferencia de el otro <p> de el contenedor */
    font-weight: normal; /* Esto nos deja normal el peso de la letra o como lo oscuro */
    color: hsl(36, 100%, 50%); /* Esto me le da color a el texto indicado 36:color, 100%:color al maximo, 50%:luminosidad */
    margin-top: 8px; /* margen con la etiqueta de arriba de 8px */
}

/* Logo REYPAS */

.logo-central {
    width: 100px; /* ancho de la imagen de 100px */
    height: auto; /* alto de la imagen, automatico y proporcional a el width */
    margin-bottom: 0; /* margen de abajo de 0px */
    padding: 0; /* Esto quita todo tipo de espacio interno de el logo: arriba, derecha, abajo, izquierda */
    align-content: center; /* esto me pone el logo bien centrado (verticalmente) en el header */
    transition: transform 0.7s ease-out;
}

.girar-logo {
  animation-name: giro360;
  animation-fill-mode: forwards;
}

@keyframes giro360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.logo-precios { /* Esto nos modifica el logo que esta al lado izquierdo de los nombres de los productos */
    width: 20px; 
    height: auto;
    align-content: center;
    transition: transform 0.6s ease; 
    
}

.logo-precios.visible {
    transform: rotate(180deg);
}




/* Despliegue de ingredientes */

.ingredientes {
    max-height: 0; /* Esto lo que hace esque el elmento no muestre su contenido al dejarle una altura maxima de 0px, en nuestro caso es para ocultar todo el contenido de los ingredientes para despues darle la animacion con java script apera que al tocarlo se despliegue */
    overflow: hidden; /* Esto lo que hace es que nos hace invisibles(esconden) los ingredientes de nuestro menu */
    width: 100%; /* Esto es para que el contenido de los ingredientes usen el 100% de el espacio que tienen permitido (se vea lo mas grande que pueda en el espacio que tienen permitido), se nota espacialmente en los celulares */
    padding: 0; /* Esto lo que hace es que disminulle a 0 el tamaño de la cajita donde se ven lo ingredientes */
    background: hsl(36, 10%, 98%); /* Esto es el color de fondo de la cajita donde estan los ingredientes */
    font-size: 0.9em; /*Esto es para el tamaño de la letra de los ingredientes 0.1em mas pequeño que el de las otras etiquetas de el li */
    color: #666; /* Este es el color de la letra de los ingredientes*/
    transition: height 0.3s ease, padding 0.3s ease; /* Esta linea lo que hace esque cuando la altura y relleno de el elemento cambien de tamaño lo hagan con una animacion de 0.3s(o sea no cambia abruptamente sino con un timepo de 0.3s), y con la curva de aceleracion ease( empieza lento, acelera en medio y termina lento la animacion), esto prepara la etiqueta para que js o css la usen en los cambios */       
}

.ingredientes.visible { /* Esto es lo que le da los estilos a los ingredientes con la clase adicional (.visible) que es la que usa java script para darle los cambios cuando se le de clic al producto */
    max-height: 80px; /* Esto es la altura maxima que va a tener la cajita donde se van a ver los ingredientes al momento de darles clic, para que la caja se haga mas grande simepre que se le espiche el boton es con min-height */
    padding: 12px 0; /* Esto me le agrega un espacio de 12px arriba y abajo de la cajita, y 0px a los lados*/
    line-height: 1.6; /* Esto lo que hace es que me da 1.6 veces mas de espacio, entre cada linea de los ingredientes */
    font-size: 0.9em; /* Esto me le da el mismo tamaño de letra que los ingredientes normales(o sea los de arriba de este codigo )*/
}

.fila { /* Esto nos da estilos a el producto y al precio de cada producto */
    display: flex !important; /* Esta linea hace dos cosas 1 "display: flex" esto convierte este elemento en un contenedor flexbox, nos acomoda los elemntos en fila, uno despues de el otro, y me permite usar otras mas funciones que se encuentran abajo */
    justify-content: space-between; /* Esto hace que el nobre de el producto se muestre en la izquierda y el precio en la derecha */
    align-items: center; /* Esto es para centrar verticalmente los elementos, en mi caso el nombre y el precio */
    margin-bottom: 4px; /* Esto lo que hace esque nos da un epacio de 4px hacia abajo ,o sea nos separa 4px con respecto a lo que se encuentre abajo de esa etiqueta */
}
